.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 4000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
        overflow: scroll;
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        height: 50rem;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: .3rem;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .4s .2s;
        transform: translate(-50%, -50%) scale(0.5);
        @include respond(tab-port) {
            width: 90%;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
        @include respond(tab-port) {
            width: 100%;
            display: inline-block;
            padding: 0 5rem;
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        @include respond(tab-port) {
            width: 100%;
            display: block;
            padding: 2rem 1rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
        @include respond(tab-port) {
            width: 49%;
            display: inline;
            vertical-align: center;
            height: 25rem;
        }
        @include respond(phone) {
            height: 15rem;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem; 
        column-rule: .1rem solid $color-gray-light-2;
        hyphens: auto;
        @include respond(tab-port) {
            column-count: 1;
            column-gap:none;
            column-rule: none;
        }
    }

    &__close {
        &, &:link, &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }
        &:hover {
            color: $color-primary;
        }
    }
}